## Basics of Python

In this notebook, we are going to learn about some of the basic operations and datatypes within python and how you can write simple functions and codes

### Importing Libraries

Pythonâ€™s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. <br/>
https://docs.python.org/3/library/

In [2]:
import datetime #importing a datetime library
import pandas as pd #pd here is an alias - nickname

from pandas import read_csv #read_csv is a function that we will import specifically 
print("Import success!")

Import success!

### Basic Data types in python
* Integers
* Floats
* Strings
* Booleans

In [3]:
print("Hello World!")

Hello World!

In [4]:
type("Hello World!")

str

In [9]:
#Variables, what are they?
#They are essentially containers - which can be of any name and are meant to store stuff.
bananaa = 3
animal = "elephants"

In [11]:
print(bananaa)
print(type(animal))

3
<class 'str'>

In [12]:
myflt = 2.5
print(type(myflt))

<class 'float'>

In [14]:
booe = True #they can only be either True or False, think of them as switches
print(type(booe))

<class 'bool'>

### List

Lists are ordered sequences of elements, with that order being specified by the order that the elements are in when the list is created or as elements are added to the list. </br>
- Lists are created using the [] syntax.
- Lists can include mixed data types.
- List elements are accessed by index.
- Lists are mutable. You can add, remove, and replace values using functions such as append(), extend(), insert(), pop(), remove(), and del.

In [15]:
firstlist = [] #Creating a blank list

petlist = ["cats", "dogs", "fish"]
print(petlist)

['cats', 'dogs', 'fish']

In [18]:
#list indexing, each element has an index number, python is a zero indexed language
print(petlist[1], petlist[0])

dogs cats

In [21]:
petlist.append(animal)
print(petlist)

['cats', 'dogs', 'fish', 'elephants']

In [20]:
#last in first out
petlist.pop()
print(petlist)

['cats', 'dogs', 'fish']

In [22]:
petlist.pop(0)
print(petlist)

['dogs', 'fish', 'elephants']

In [23]:
petlist.reverse()
print(petlist)

['elephants', 'fish', 'dogs']

In [24]:
petlist.sort()
print(petlist)

['dogs', 'elephants', 'fish']

### Slicing in python
Slicing enables us extract out a range of elements from our list.
<br><br>

alist[start:stop:skip]

In [26]:
#as standard list
alist = [1,2,3,4,5,6,7,8,9,10]

In [28]:
#we will get our elements from 0(start) all the way up till but
#stop before the last number
alist[0:5]

[1, 2, 3, 4, 5]

In [29]:
alist[:5]#starting definition is not provided

[1, 2, 3, 4, 5]

In [30]:
len(alist) #get size of list

10

In [31]:
alist[9:]

[10]

In [32]:
alist[-1]

10

In [33]:
#what about skip?
alist[:7:2]

[1, 3, 5, 7]

## Flow control

* if statements
* while loops
* for loops
* functions

We will control the flow using:

1. Logical statements to check for conditions (performing operations only `if` a condition is met)

2. Continuing execution until a condition is met

3. Iterating through a sequence of numbers using the `range()` function

In [36]:
#typically when doing programming we are translating english to codes
#"Buy a gallon of milk at the store and if there are organic eggs,
#buy a dozen"

#define some variables
milk = 0
eggs = 0
organic_eggs = True #this is to say whethere there is or isn't any organic eggs

#what are the decision to be made at the store?
milk = milk + 1

if organic_eggs == True: #"==" is a comparision operator
    eggs = eggs + 12

#We want check on our output - where we have made the right decisions
print("Purchased ", milk, " gallon(s) of milk!")
print("Purchased ", eggs, " organic eggs!")

Purchased  1  gallon(s) of milk!
Purchased  12  organic eggs!

### Loops 
A loop is used to repeat a block of commands multiple times. There are two ways to write a loop, one is a for loop and the other is a while loop. Typically, you use a for loop when you know how many times you want to loop, and a while loop when looping is based on a conditional that will be modified during the loop.

## While loops

A `while` loop is pretty simple, it's structure looks like:

    while a_condition:
        # do something
        ...
        
and it continues until `a_condition` is false.

In [37]:
#division, Let's divide a number!
num = 53
divisor = 6

#use a while loop to obtain our answer
while num > 0:#larger then 0 is a conditional check
    num = num - divisor
    print(num)

47
41
35
29
23
17
11
5
-1

### For loops

A `for` loop lets us repeat a set of commands a defined number of times. The syntax for a `for` loop is just:

    for item in sequence:
        # do something with item
        ...

But what is a sequence?

There are lots of functions in Python that will actually return a sequence - they are called *iterators*. An iterator essentially provides the next element in the sequence each time we access it. 

The iterator that we will use to demonstrate a for loop is the `range()` function. The range function gives us a sequence of numbers from the first number we give it up until the last number we give it.

In [39]:
alist = [1,2,3,4,5,6,7,8,9,10] # a list is also called a sequence

for i in alist:
    print(i*3)

3
6
9
12
15
18
21
24
27
30

In [40]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Functions
Functions enable this thing called code modularity!
> def function_name():
>
>     statements
>
>     return something

In [41]:
print("Standard function!") #this is a function!

Standard function!

In [45]:
#create user defined function, with 1 argument
def square(x):
    ''' This is a square function that takes in 1 argument, and squares it! '''
    return x**2

In [43]:
square(2)

4

In [46]:
square()

TypeError: square() missing 1 required positional argument: 'x'

### Pandas
Its a data wrangling library

In [47]:
import pandas as pd

In [55]:
#we want to load in a dataset
url = "http://bit.ly/wkspdata"
datadf = pd.read_csv(url)

In [58]:
type(datadf)

pandas.core.frame.DataFrame

In [59]:
datadf.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [60]:
datadf.tail()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [61]:
datadf.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [62]:
datadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   name      891 non-null    object
 3   sex       891 non-null    object
 4   age       714 non-null    float64
 5   sibsp     891 non-null    int64
 6   parch     891 non-null    int64
 7   ticket    891 non-null    object
 8   fare      891 non-null    float64
 9   cabin     204 non-null    object
 10  embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

### Numpy
Mathematical library

In [63]:
import numpy as np

In [71]:
x1 = np.random.randint(10, size=7) #creates for us a 1d numpy array of size 7
print(x1)
print(type(x1))

[0 4 8 3 6 8 6]
<class 'numpy.ndarray'>

In [72]:
print("x1 dimension", x1.ndim)

x1 dimension 1

In [73]:
print("x1 shape", x1.shape)

x1 shape (7,)

In [74]:
print("x1 size", x1.size)

x1 size 7

In [76]:
x1[1]

4

#### End of basics of python workshop!