In [ ]:
string <- "R for Data Analysis"

In [ ]:
cat( "Substring:\t", substr( string, 7, 10 ), "\n" )

In [ ]:
cat( "Replaced:\t", sub( "sis", "tics", string ), "\n\n" )

In [ ]:
print( paste( "Split: ", strsplit( string, " " ) ) )

In [ ]:
cat( "\nUppercase:\t", toupper( string ), "\n\n" )

In [ ]:
now <-  Sys.time( )
print( format( now, format="Date: %A, %B %e" ) )
print( format( now, format="Time: %H:%M" ) )