In [1]:
frame <- data.frame( 1:5, sizes=c( "S", "L", "XL", "S", "M") )
frame

  X1.5 sizes
1 1    S
2 2    L
3 3    XL
4 4    S
5 5    M

In [2]:
cat( "\nColumn Data...\n" )
str( frame$sizes )

Column Data...
 chr [1:5] "S" "L" "XL" "S" "M"

In [3]:
var.sizes <- c( "S", "L", "XL", "S", "M" )

In [4]:
cat( "\nVector Data...\n" )
str( var.sizes )

Vector Data...
 chr [1:5] "S" "L" "XL" "S" "M"

In [5]:
var.sizes <- factor( var.sizes )
var.sizes

[1] S  L  XL S  M
Levels: L M S XL

In [6]:
cat( "\nFactored Vector Data...\n" )
str( var.sizes )
print( levels( var.sizes ) )

Factored Vector Data...
 Factor w/ 4 levels "L","M","S","XL": 3 1 4 3 2
[1] "L"  "M"  "S"  "XL"

In [7]:
var.sizes <- factor( var.sizes, 
                     levels = c( "S","M","L","XL" ) )

In [8]:
cat( "\nRe-ordered Factored Vector Data...\n" )
str( var.sizes )
print( levels( var.sizes ) )

Re-ordered Factored Vector Data...
 Factor w/ 4 levels "S","M","L","XL": 1 3 4 1 2
[1] "S"  "M"  "L"  "XL"

In [9]:
var.sizes <- factor( var.sizes, 
                     levels=rev( levels( var.sizes ) ) )
cat( "\nReversed Factored Vector Data...\n" )
str( var.sizes )
print( levels( var.sizes ) )

Reversed Factored Vector Data...
 Factor w/ 4 levels "XL","L","M","S": 4 2 1 4 3
[1] "XL" "L"  "M"  "S"