In [ ]:
sales <- list( Jan=1500, Feb=1300, Mar=2400 )

In [ ]:
sales <- c( sales, list( Apr=1800 ) )

In [ ]:
print( unlist( sales ) )

In [ ]:
monthly.sales <- unlist( sales, use.names=FALSE )

In [ ]:
total.sales <- sum( monthly.sales )
print( paste( "Total Sales: ", total.sales ) )

In [ ]:
average.per.month <- mean( monthly.sales )
print(paste( "Monthly Average: ", average.per.month ) )

In [ ]:
print( paste( "Is sales a List: ", is.list( sales ) ) )