In [ ]:
#@title
# http://prob140.org/sp17/textbook/ch17/Calculus_in_SymPy.html

from sympy import *
# init_printing()

var('x y m')
# del x

density = 105 * x**2 * (1-x)**4
density

105*x**2*(1 - x)**4

In [ ]:
expand(density)

105*x**6 - 420*x**5 + 630*x**4 - 420*x**3 + 105*x**2

In [ ]:
diff(density)

-420*x**2*(1 - x)**3 + 210*x*(1 - x)**4

In [ ]:
total_area = Integral(density, (x, 0, 2))
total_area

Integral(105*x**2*(1 - x)**4, (x, 0, 2))

In [ ]:
total_area.doit()

72

In [ ]:
p_02_04 = Integral(density, (x, 0.2, 0.4)).doit()
p_02_04

0.432064000000001

In [ ]:
indefinite = Integral(density).doit()
indefinite

15*x**7 - 70*x**6 + 126*x**5 - 105*x**4 + 35*x**3

In [ ]:
factorint(1001)

{7: 1, 11: 1, 13: 1}

In [ ]:
divisors(1001)

[1, 7, 11, 13, 77, 91, 143, 1001]

In [ ]:
Sum(x + 2,(x,1,10))

Sum(x + 2, (x, 1, 10))

In [ ]:
exp = 2*x**2 - 3 + 4*x

[i.n(4) for i in solve(exp)]

[0.5811, -2.581]

In [ ]:
# https://medium.com/grabngoinfo/how-to-use-r-with-google-colab-notebook-610c3a2f0eab

# !pip install rpy2==3.5.1
%load_ext rpy2.ipython

In [ ]:
import seaborn as sns

df = %R iris
# sns.boxplot(data=df,palette='deep');
# ax = df.plot.box()
# df.iloc[:,[0,-1]].plot.box(column=['Sepal.Length'])
# df.info()
df.groupby('Species').agg(['median', 'mean', 'std'])

UsageError: Line magic function `%R` not found.

In [ ]:
import seaborn as sns

df = sns.load_dataset('titanic')

# Instead of this:
df[(df['pclass']==1) & (df['who']=='man') & (df['age']<20)].iloc[1:2,1:3]

# Do this:
df.query('pclass==1 and who=="man" and age<20').iloc[1:2,1:3]

     pclass   sex
505       1  male

In [ ]:
def collatz(number):
  lst=[]
  lst.append(number)
  while(number!=1):
    if(number%2==0):
      number=number//2
    else:
      number=number*3+1
    lst.append(number)
  return lst

import copy
li = [collatz(i) for i in range(1,5)]
li2 = copy.deepcopy(li)
li2[0] += ['test']
li2[1] *= 3
li2[1].remove(1)
li2[1].remove(1)
li

[[1], [2, 1], [3, 10, 5, 16, 8, 4, 2, 1], [4, 2, 1]]

In [ ]:
import re

pattern = "([a-zA-Z0-9]+)@([a-zA-Z]+)\.(com|edu|net|org)"
new = r"\2 \1 \3"

while True:
  user = input()
  if user=="":
    break
  if (re.search(pattern, user)):
    print("Valid email entered")
    print(re.sub(pattern, new, user))
  else:
    print("Invalid input")

In [ ]:
spam = {'color':'red', 'age':42}

s = ','.join([f'The {k} is {v}' for k,v in spam.items()])

count={}
for i in s.lower():
  count.setdefault(i, 0)
  count[i] += 1

import pprint
pprint.pprint(count)

{' ': 6,
 ',': 1,
 '2': 1,
 '4': 1,
 'a': 1,
 'c': 1,
 'd': 1,
 'e': 4,
 'g': 1,
 'h': 2,
 'i': 2,
 'l': 1,
 'o': 2,
 'r': 2,
 's': 2,
 't': 2}

In [ ]:
{k: v for k, v in sorted(count.items(), key=lambda i: i[1], reverse=True)}

{' ': 6,
 'e': 4,
 't': 2,
 'h': 2,
 'o': 2,
 'r': 2,
 'i': 2,
 's': 2,
 'c': 1,
 'l': 1,
 'd': 1,
 ',': 1,
 'a': 1,
 'g': 1,
 '4': 1,
 '2': 1}

In [ ]:
with open("/content/sample_data/california_housing_test.csv") as f:
  for i in f.readlines()[:4]:
    print(i)

"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000

-118.300000,34.260000,43.000000,1510.000000,310.000000,809.000000,277.000000,3.599000,176500.000000

-117.810000,33.780000,27.000000,3589.000000,507.000000,1484.000000,495.000000,5.793400,270500.000000

In [ ]:
# https://www.youtube.com/watch?v=wPBHC9ib1mI
# https://www.hostinger.com/tutorials/wget-command-examples/
# https://curl.se/docs/manual.html
# ! wget -O KPMG.xlsx https://cdn-assets.theforage.com/vinternship_modules/kpmg_data_analytics/KPMG_VI_New_raw_data_update_final.xlsx
# ! curl -o KPMG.xlsx https://cdn-assets.theforage.com/vinternship_modules/kpmg_data_analytics/KPMG_VI_New_raw_data_update_final.xlsx

import pandas as pd

for i in [1,3,4]:
  exec(f"df0{i} = pd.read_excel('KPMG.xlsx', sheet_name={i}, header=1, index_col=0)")

df02 = pd.read_excel('KPMG.xlsx', sheet_name=2, header=1)

for i in [1,2,3,4]:
  print('\n')
  print(f'df0{i}'.center(60,'-'))
  exec(f'df0{i}.info()')

<string>:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})

----------------------------df01----------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 1 to 20000
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   product_id               20000 non-null  int64
 1   customer_id              20000 non-null  int64
 2   transaction_date         20000 non-null  datetime64[ns]
 3   online_order             19640 non-null  float64
 4   order_status             20000 non-null  object
 5   brand                    19803 non-null  object
 6   product_line             19803 non-null  object
 7   product_class            19803 non-null  object
 8   product_size             19803 non-null  object
 9   list_price               20000 non-null  float64
 10  standard_cost            19803 non-null  float64
 11  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(5)
memory usage: 2.0+ MB


----------------------------df02----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB


----------------------------df03----------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 1 to 4000
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           4000 non-null   object
 1   last_name                            3875 non-null   object
 2   gender                               4000 non-null   object
 3   past_3_years_bike_related_purchases  4000 non-null   int64
 4   DOB                                  3913 non-null   datetime64[ns]
 5   job_title                            3494 non-null   object
 6   job_industry_category                3344 non-null   object
 7   wealth_segment                       4000 non-null   object
 8   deceased_indicator                   4000 non-null   object
 9   default                              3698 non-null   object
 10  owns_car                             4000 non-null   object
 11  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 406.2+ KB


----------------------------df04----------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 1 to 4003
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             3999 non-null   object
 1   postcode            3999 non-null   int64
 2   state               3999 non-null   object
 3   country             3999 non-null   object
 4   property_valuation  3999 non-null   int64
dtypes: int64(2), object(3)
memory usage: 187.5+ KB

<ipython-input-21-1dcb2ed8e471>:12: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  df02 = pd.read_excel('KPMG.xlsx', sheet_name=2, header=1)

In [ ]:
print('df02 columns report'.center(30))

for i in range(5,10):
  print('\n' + eval(f'df02.columns[{i}]').center(30,'-'))
  print(eval(f'df02.iloc[:,{i}].value_counts()'))

     df02 columns report

----------job_title-----------
Associate Professor         15
Environmental Tech          14
Software Consultant         14
Chief Design Engineer       13
Assistant Manager           12
                            ..
Accountant II                1
Programmer IV                1
Administrative Officer       1
Accounting Assistant III     1
Web Developer I              1
Name: job_title, Length: 184, dtype: int64

----job_industry_category-----
Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

--------wealth_segment--------
Mass Customer        508
High Net Worth       251
Affluent Customer    241
Name: wealth_segment, dtype: int64

------deceased_indicator------
N    1000
Name: deceased_indicator, dtype: int64

-----------owns_car-----------
No     507
Yes    493
Name: owns_car, dtype: int64

In [ ]:
import pandas as pd

sheets = pd.read_excel('https://github.com/datagy/mediumdata/raw/master/Sales.xlsx', sheet_name=None).keys()

list(sheets)

['East', 'West', 'North']

In [ ]:
# https://www.codingthesmartway.com/how-to-use-chatgpt-with-python/
# https://www.youtube.com/watch?v=5MvYe44zen4

# !pip install openai
import openai

key = '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'

# Set up the OpenAI API client
openai.api_key = key

# Set up the model and prompt
model_engine = "text-davinci-003"

while True:
  prompt = input()
  
  if prompt == '':
    print('Thank you for using ChatGPT. Good bye!')
    break

  # Generate a response
  completion = openai.Completion.create(
    engine=model_engine,
    prompt=prompt,
    max_tokens=1024,
    n=1,
    stop=None,
    temperature=0.5,
  )

  response = completion.choices[0].text
  print(response)

In [7]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv')
df['Type 1'].value_counts()[:10]

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Name: Type 1, dtype: int64

In [ ]:
df['Total'] = df.iloc[:,4:-2].sum(axis=1)

cols = list(df.columns)
lcols = cols[:4]
rcols = cols[4:-1]

df[lcols + [cols[-1]] + rcols]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,319,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,406,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,526,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,626,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,310,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,606,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,706,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,606,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,686,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,606,80,110,120,130,90,70,6,True

In [ ]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [ ]:
[exec(f'df{i} = df.iloc[:,{i}].value_counts()') for i in [2,3]]

[None, None]

In [ ]:
df3

NameError: ignored