In [ ]:
seq <- list( A="Alpha", B="Bravo", C="Charlie" )

In [ ]:
for( var in seq )
{
  print( var )
}

In [ ]:
seq <- c( 2, 7, 6, 8, 3, 5, 4 )

In [ ]:
for( var in seq )
{
  if( var %% 2 == 1 )
  {
    cat( var, "Is Odd\n")
  } else
  {
    cat( var, "Is Even\n")
  }
}