In [1]:
high.temp <- read.csv("DataSet-HighTemps.csv")
low.temp <- read.csv("DataSet-LowTemps.csv")

In [2]:
display <- function(frame) {
    cat("\nAnnual Temperatures (oC)...\n")
    print(frame)
    }

In [3]:
high.temp <- rbind(high.temp, list('Hougang', 'HG', 38.5))
low.temp <- rbind(low.temp, list('CN', 'China', 2.3))

In [4]:
display(high.temp)
display(low.temp)

Annual Temperatures (oC)...
        City State High
1     Albany    NY 14.3
2 Sacramento    CA 23.1
3     Austin    TX 26.5
4    Hougang    HG 38.5

Annual Temperatures (oC)...
  State.Code    Capital  Low
1         NY     Albany  3.7
2         CA Sacramento  9.1
3         TX     Austin 15.0
4         CN      China  2.3

In [5]:
avg.temp <- merge(high.temp, low.temp, by.x = "State", by.y = "State.Code")

display(avg.temp)

# Noticed that cases unique to either dataframes were dropped during merge. Can be tweaked within merge.

Annual Temperatures (oC)...
  State       City High    Capital  Low
1    CA Sacramento 23.1 Sacramento  9.1
2    CN       <NA>   NA      China  2.3
3    NY     Albany 14.3     Albany  3.7
4    TX     Austin 26.5     Austin 15.0

In [6]:
avg.temp$Capital <- NULL

In [7]:
avg.temp$Average <- (avg.temp$High + avg.temp$Low) / 2
display(avg.temp)

Annual Temperatures (oC)...
  State       City High  Low Average
1    CA Sacramento 23.1  9.1   16.10
2    CN       <NA>   NA  2.3      NA
3    NY     Albany 14.3  3.7    9.00
4    TX     Austin 26.5 15.0   20.75